<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Output</title>
  </head>
  <body>
      <div>
          <h1>Form submitted successfully!</h1>
      </div>
      <hr />
      <p>First Name: <%= formData.fName %></p>
      <p> Last Name: <%= formData.lName %></p>
      <p>Email: <%= formData.email %></p>
      <p>password: <%= formData.password %></p>
    </div>
</body>
  <!-- </body> -->
</html>